@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'LineBd';
  src: url('/fonts/LINESeedKR-Bd.ttf') format('truetype');
}

@font-face {
  font-family: 'LineRg';
  src: url('/fonts/LINESeedKR-Rg.ttf') format('truetype');
}

@font-face {
  font-family: 'Zoo';
  src : url('/fonts/ZenTokyoZoo-Regular.ttf') format('truetype');
}